:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --theme-collor: #27abe2;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 150px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

h1 {
    padding: 0;
    margin: 0;
}