/* header */

* {
    box-sizing: border-box;
}

.header {
    background-color: var(--white-color);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.logo-img {
    width: auto;
    height: 70px;
}

.header__top {
    padding-top: 5px;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__container {
    display: flex;
    align-items: center;
}

.top__container-lable {
    font-size: 15px;
    font-style: italic;
    color: var(--theme-collor);
    margin-left: 20px;
}

.top__contact-us {
    cursor: pointer;
    display: none;
}

.top__contact-button {
    background-color: var(--theme-collor);

}

.top__contact-button a {
    color: var(--white-color);
    font-weight: 900;
    letter-spacing: 1px;
}

.top__contact-button:hover {
    background-color: var(--white-color);
    border: 2px solid var(--theme-collor);
    animation: fadeIn ease-in 0.1s;
    
}

.top__contact-button:hover a {
    color: var(--theme-collor);
    animation: fadeIn ease-in 0.1s;
}

.header__bottom {
    top: 0;
    position: sticky;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #42aef1;
    display: none;
    z-index: 2;
}

.header__bottom-list {
    display: flex;
}

.header__bottom-item {
    padding: 20px 0;
    margin-right: 20px;
    color: var(--white-color);
    font-weight: 700;
    position: relative;
}

.header__bottom-item a {
    color: var(--white-color);
}


.header__bottom-item:hover {
    cursor: pointer;
    color: #ccc;
}
.header__bottom-item:hover .bottom-item-link {
    color: #ccc;
}


.header__bottom-item-drop {
    width: 300px;
    position: absolute;
    display: block;
    background-color: #efefef;
    top: 0;
    left: 0;
    margin-top: 59px;
    margin-left: -20px;
    animation: fadeIn ease-in 0.3s;
    display: none;
}

.top__menu-mobile {
    font-size: 30px;
}

/* voi sua may giat */
.header__bottom-item-fix1:hover .header__bottom-item-fix1-list {
    display: block;
}

.header__bottom-item-fix2:hover .header__bottom-item-fix2-list {
    display: block;
}

.header__bottom-item-fix3:hover .header__bottom-item-fix3-list {
    display: block;
}

.header__bottom-item-fix4:hover .header__bottom-item-fix4-list {
    display: block;
}

.item__drop-item {
    padding: 20px 0 20px 20px;
}

.item__drop-item a {
    color: #696767;
}

.item__drop-item:hover {
    cursor: pointer;
    background-color: rgb(160, 220, 236);
    color: #090909;
}

.item__drop-item:hover a {
    color: #707070;
}

.header__bottom {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.bottom-item-icon {
    margin-left: 3px;
}


#nav-mobile {
    display: none;
    background-color: #efefef;
    text-transform: uppercase;
}

.header__nav-item {
    padding: 20px 0 20px 20px;
}

.nav__item-more-item a,
.header__nav-item a {
    color: #696767;
}

.header__nav-item:hover {
    background-color: rgb(160, 220, 236);
    cursor: pointer;
}

.nav-mobile-item-icon {
    color: #696767;
    margin-right: 20px;
}

.header__nav-item-mobile {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.nav__item-more {
    display: none;   
}

.nav__item-more-item {
    padding: 15px 0 15px 30px ;
}

.nav__item-more-item:hover {
    background-color: rgb(160, 220, 236);
    cursor: pointer;
}

.header__nav-list {
    color: #696767;
    font-weight: 500;
}

.nav__item-more-item {
    font-weight: 400;
}


.first-container {
    position: relative;
    height: 100vh;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-image: url(https://xuongmocgocongnghiep.com/upload/images/hinh-anh-nha-bep-don-gian-1.jpg);
}


.container__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 25, 79, 0.5);
}

.container__center {
    height: inherit ;
    z-index: 1;
    position: absolute;
    color: var(--white-color);
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px
}

.center__lable {
    letter-spacing: 1px;
    font-size: 1.8rem;
    margin-bottom: 50px;    
    margin-top: 10rem;
    padding: 0 10px;
    text-transform: uppercase;
}

.center__paragraph {
    margin-top:  -20px;
    padding: 0 10px;
    font-size: 20px;
}

.container__center-button {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    width: 10em;
    color: var(--theme-collor);   
}

.container__center-button a {
    color: var(--theme-collor);
}

.container__center-button:hover a{
    color: var(--white-color);
}

.container__center-button:hover {
    cursor: pointer;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    background-color: var(--theme-collor);
}

.second-container {
    padding-top: 50px;
}

.container__preview-picture {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.container__preview {
    display: block;
}

.container__preview-lable {
    display: block;
    font-size: 2.5rem;
}

.container__preview-list {
    list-style: circle;
    padding-left: 20px;
    margin-top: 1.5rem;
}

.container__preview-item {
    padding: 10px 0;
    font-size: 1.4rem;
}

.container__service-components {
    text-align: center;
    margin: 7rem 0;
}

.container__service-icon {
    font-size: 3rem;
    color: var(--theme-collor);
}

.container__service-lable {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
}

.container__service-paragraph {
    font-size: 1.3rem;
    margin-top: 20px;
}

.third-container {
    margin-top: 80px;
}

.container__preview-third {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__preview-third b {
    background-color: currentColor;
    display: block;
    flex: 1;
    height: 2px;
    opacity: 0.1;
}

.container__preview-header {
    margin: 0 10px;
    font-size: 2.5rem;
}

.second-container,
.third-container,
.fourth-container,
.five-half-container {
    padding: 70px 0;
    margin: 0 0;
}

.container__questions-list {
    margin: 5rem 0 5rem 0;
}

.container__question-item {
    padding: 1rem 0 1rem 0.5rem;
    background-color: #d5e7f3;
    border: 1px solid var(--white-color);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.down-icon-4th {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


.question:hover {
    cursor: pointer;
}

.answer {
    padding: 2rem 0.5rem;
    display: none;
    margin: 2px;
    background-color: #f6f6f6;
    border: 1px solid var(--white-color);
    border-radius: 3px;
}

.question {
    flex: 1;
    font-size: larger;
}

p {
    margin: 0;
}

.container__address-list {
    list-style: circle;
    margin-left: 3rem;
    margin: 5rem 0 5rem 3rem;
}

.container__address-item {
    padding: 1rem;
    font-size: 1.5rem;
}

.container__information-component {
    margin: 3rem 0 3rem 0;
    height: auto;
    box-sizing: border-box;
}

.information__caption{
    font-weight: 500;
    width: 100%;
    min-height: 100px;
    line-height: 1.3;
    margin-bottom: .1em;
    padding: 20px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container__information-component {
    position: relative;
}

.information__component-img {
    height: 150px;
    overflow: hidden;
}

.information__component-img img {
    width: 100%;
    height: auto;
}

.infomation__button{
    color: var(--theme-collor);
    padding: 5px 5px;
}

.infomation__btn {
    background-color: var(--white-color);
    border-radius: 0;
    width: 100%;
    border: 1px solid var(--theme-collor);
}

.infomation__btn:hover {
    cursor: pointer;
    background-color: var(--theme-collor);
}

.infomation__btn:hover a {
    color: var(--white-color);
}

.container__information-component:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.footer {
    color: var(--white-color);
    background-color: #0b2535; 
}

.footer__container-item {
    display: flex;
    margin: 1rem 0;
}


.footer__item-container {
    margin-top: 30px;
}
.footer__item-img {
    align-items:  center;
    margin-right: 1rem;
}

.footer__item-paragraph{
    align-items: center;
}

.footer__item-lable {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.item-img {
    width: 50px;
    height: 50px;
}

.footer a {
    color: var(--white-color);
}

.footer a:hover {
    color: #ccc;
}

.footer__space {
    width: 100%;
    height: 0.09px;
    background-color: #414141;
}


.copy__right {
    padding: 10px 0;
    color: var(--white-color);
    background: #3f3f3f;
}

.copy__right a {
    margin: 5px 0;
    color: var(--white-color);
}

.copy__right a:hover {
    color: #ccc;
}

.copy__right-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact {
    position: fixed;
    bottom: 0;
    left: 10px;
}

.phone {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    background-color: #28a745;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.phone.show {
    opacity: 1;
}

.hidden {
    display: none;
}

.phone {
    /* Các thuộc tính trước đó */
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.phone.show {
    opacity: 1;
    transform: translateY(0);
}

.zalo {
    font-size: 3rem;
    background-color: white;
    right: 20px;
}

.container__five-half-img {
    width: 100%;
    color: #3f7fa6;
}

.container__five-half {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.container__five-half-lable {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px 0;
}

.container__five-half-paragraph {
    font-size: 1.2rem;
}

.container__preview-header {
    text-transform: uppercase;
}
