<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Project_03</title>
      <link rel="stylesheet" href="../../assets/javascript/jquery.js">
      <link rel="stylesheet" href="../../assets/css/base.css" />
      <link rel="stylesheet" href="../../assets/css/main.css" />
      <link rel="stylesheet" href="../../assets/css/responsive.css" />
      <link
        rel="stylesheet"
        href="../../assets/css/library/library-responsive.css"
      />
      <link
        rel="stylesheet"
        href="../assets/css/library/library-responsive.css"
      />
      <link rel="stylesheet" href="../../assets/css/template/template.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="../../assets/img/icon/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css"
      />

      <!-- very important -->
      <style>
        /* overide grid.css */
        .grid.wide {
          max-width: 90%;
          margin: 0 auto;
        }

        .grid.row {
          align-items: center;
          justify-content: space-around;
        }

        @media (min-width: 740px) and (max-width: 1023px) {
          .grid.wide {
            width: 80%;
          }
        }

        @media (min-width: 1024px) {
          .grid.wide {
            width: 80%;
          }
        }
      </style>
      <script src="../../assets/javascript/jquery.js" defer></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
  </head>

  <body>
    <div class="header">
      <div class="grid wide">
        <div class="header__top">
          <div class="header__top-container">
            <div class="top__container">
              <a href="../../index.html" class="top__container-logo">
                <img
                  src="../../assets/img/logo/2024/logo1.png"
                  alt=""
                  class="logo-img"
                />
              </a>

              <h1 class="top__container-lable">
                Mua bán, sửa chữa, máy giặt, điều hòa, đồ gia dụng.
              </h1>
            </div>

            <div class="top__contact-us">
              <button class="top__contact-button">
                <a href="tel:0866229532">0866.229.532</a>
              </button>
            </div>

            <div class="top__menu-mobile" id="top-menu-mobile">
              <i class="fa-solid fa-bars" style="color: #00aaff"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="grid wide">
        <ul class="header__bottom-list">
          <li class="header__bottom-item">
            <a href="../../index.html" class="bottom-item-link">trang chủ</a>
          </li>
  
          <li class="header__bottom-item header__bottom-item-fix1">
            <a href="../../templates/sua-chua/sua-may-giat.html" class="bottom-item-link">sửa máy giặt</a>
            <i class="fa-solid fa-caret-down bottom-item-icon"></i>
  
            <div class="header__bottom-item-drop header__bottom-item-fix1-list">
              <ul class="item__drop-list">
                <li class="item__drop-item">
                  <a href="../../templates/sua-chua/sua-may-giat-samsung.html">sửa máy giặt samsung</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/sua-chua/sua-may-giat-lg.html">sửa máy giặt lg</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/sua-chua/sua-may-giat-electrolux.html">sửa máy giặt electrolux</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/sua-chua/sua-chua-may-giat-inverter.html">sửa máy giặt inverter</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/sua-chua/sua-may-giat.html">Khác ...</a>
                </li>
              </ul>
            </div>
          </li>
  
          <li class="header__bottom-item header__bottom-item-fix4">
            <a href="../../templates/bao-hanh/bao-hanh-may-giat.html" class="bottom-item-link">Bảo hành máy giặt</a>
            <i class="fa-solid fa-caret-down bottom-item-icon"></i>
  
            <div class="header__bottom-item-drop header__bottom-item-fix4-list">
              <ul class="item__drop-list">
                <li class="item__drop-item">
                  <a href="../../templates/bao-hanh/bao-hanh-may-giat-samsung.html">Bảo hành máy giặt Samsung</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/bao-hanh/bao-hanh-may-giat-lg.html">Bảo hành máy giặt LG</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/bao-hanh/bao-hanh-may-giat-electronlux.html">Bảo hành máy giặt Electrolux</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/bao-hanh/bao-hanh-may-giat-inverter.html">Bảo hành máy giặt Intverter</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/bao-hanh/bao-hanh-may-giat.html">Khác ...</a>
                </li>
              </ul>
            </div>
          </li>
  
          <li class="header__bottom-item header__bottom-item-fix4">
            <a href="../../templates/thu-mua/thu-mua.html" class="bottom-item-link">Thu mua máy giặt</a>
            <i class="fa-solid fa-caret-down bottom-item-icon"></i>
  
            <div class="header__bottom-item-drop header__bottom-item-fix4-list">
              <ul class="item__drop-list">
                <li class="item__drop-item">
                  <a href="../../templates/thu-mua/thu-mua-may-giat-samsung.html">thu mua máy giặt Samsung</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/thu-mua/thu-mua-may-giat-lg.html">thu mua máy giặt LG</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/thu-mua/thu-mua-may-giat-elec.html">thu mua máy giặt Electrolux</a>
                </li>
  
                <li class="item__drop-item">
                  <a href="../../templates/thu-mua/thu-mua-may-giat-inverter.html">thu mua máy giặt Intverter</a>
                </li>
              </ul>
            </div>
          </li>
  
          <li class="header__bottom-item">
            <a href="../../templates/thu-cu-doi-moi/thu-cu-doi-moi.html" class="bottom-item-link">Thu cũ đổi mới</a>
          </li>
  
          <li class="header__bottom-item">
            <a href="../../templates/contact.html" class="bottom-item-link">liên hệ</a>
          </li>
        </ul>
      </div>
    </div>
  
    <!-- for mobile -->
    <div class="grid wide">
      <div class="header__nav-hidden" id="nav-mobile">
        <ul class="header__nav-list">
          <li class="header__nav-item header__nav-item-mobile">
            <a href="../../index.html">trang chủ</a>
          </li>
  
          <li class="header__nav-item header__nav-item-mobile" id="more1">
            <a href="../../templates/sua-chua/sua-may-giat.html">sửa máy giặt</a>
            <i class="fa-solid fa-plus nav-mobile-item-icon"></i>
          </li>
          <ul class="nav__item-more" id="more-list1">
            <li class="nav__item-more-item">
              <a href="../../templates/sua-chua/sua-may-giat-electrolux.html">- sửa máy giặt electrolux</a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/sua-chua/sua-may-giat-samsung.html">- sửa máy giặt samsung </a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/sua-chua/sua-may-giat-lg.html">- sửa máy giặt lg</a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/sua-chua/sua-may-giat.html">- khác ...</a>
            </li>
          </ul>
  
          <li class="header__nav-item header__nav-item-mobile" id="more2">
            <a href="../../templates/bao-hanh/bao-hanh-may-giat.html">bảo hành</a>
            <i class="fa-solid fa-plus nav-mobile-item-icon"></i>
          </li>
  
          <ul class="nav__item-more" id="more-list2">
            <li class="nav__item-more-item">
              <a href="../../templates/bao-hanh/bao-hanh-may-giat-electronlux.html">- bảo hành máy giặt electrolux</a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/bao-hanh/bao-hanh-may-giat-samsung.html">- bảo hành máy giặt samsung </a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/bao-hanh/bao-hanh-may-giat-lg.html">- bảo hành máy giặt lg</a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/bao-hanh/bao-hanh-may-giat.html">- khác ...</a>
            </li>
          </ul>
  
          <li class="header__nav-item header__nav-item-mobile" id="more4">
            <a href="../../templates/thu-mua/thu-mua.html">thu mua</a>
            <i class="fa-solid fa-plus nav-mobile-item-icon"></i>
          </li>
  
          <ul class="nav__item-more" id="more-list4">
            <li class="nav__item-more-item">
              <a href="../../templates/thu-mua/thu-mua-may-giat-elec.html">- thu mua máy giặt electrolux</a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/thu-mua/thu-mua-may-giat-samsung.html">- thu mua máy giặt samsung </a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/thu-mua/thu-mua-may-giat-lg.html">- thu mua máy giặt lg</a>
            </li>
  
            <li class="nav__item-more-item">
              <a href="../../templates/thu-mua/thu-mua.html">- khác ...</a>
            </li>
          </ul>
  
          <li class="header__nav-item header__nav-item-mobile">
            <a href="../../templates/thu-cu-doi-moi/thu-cu-doi-moi.html">thu cũ đổi mới</a>
          </li>
  
          <li class="header__nav-item header__nav-item-mobile">
            <a href="../../templates/contact.html">liên hệ</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="body">
      <div class="container container-template">
        <div class="grid wide">
          <div class="container__main-path">
            <a href="../../index.html" class="path">Trang chủ</a>
            <i class="fa-solid fa-chevron-right path-icon"></i>
            <a href="../../templates/bao-hanh/bao-hanh-may-giat.html" class="path">Bảo hành</a>
            <i class="fa-solid fa-chevron-right path-icon"></i>
            <a href="" class="main">Samsung</a>
          </div>
        </div>
        <div class="grid wide">
          <div class="row">
            <div class="col c-12 m-12 l-9">
              <div class="container__main">
                <div class="container__main-paragraph">
                  <h1>TRUNG TÂM BẢO HÀNH MÁY GIẶT SAMSUNG</h1>
                  <p>
                      Trung tâm bảo hành máy giặt Samsung tại Hà Nội chuyên cung cấp các dịch vụ sửa chữa, bảo trì và thay thế linh kiện chính hãng cho các sản phẩm máy giặt của Samsung. Chúng tôi tự hào là một trong những trung tâm hàng đầu, với đội ngũ kỹ sư, kỹ thuật viên có kinh nghiệm lâu năm trong ngành điện tử, cam kết mang lại dịch vụ sửa chữa chất lượng nhất cho khách hàng.
                  </p>

                  <img src="../../assets/img/picture/2024/samsung/sua-may-giat-hitachi-3-2434.jpeg" alt="">

              
                  <h2>Thông tin liên hệ</h2>
                  <div class="contact-info">
                      <p>Điện thoại: <strong>0972 622 232</strong> / <strong>0943 616 858</strong></p>
                      <p>Thời gian làm việc: 24/7, kể cả ngày lễ.</p>
                  </div>
              
                  <h2>Dịch vụ của chúng tôi</h2>
                  <p>Chúng tôi cung cấp các dịch vụ:</p>
                  <div class="service-list">
                      <ul>
                          <li>Sửa chữa máy giặt Samsung không vào điện.</li>
                          <li>Sửa chữa máy giặt không chạy hoặc dừng giữa chừng.</li>
                          <li>Sửa chữa máy giặt không giặt hoặc không vắt.</li>
                          <li>Thay thế linh kiện chính hãng cho máy giặt Samsung.</li>
                          <li>Bảo trì định kỳ và bảo dưỡng máy giặt.</li>
                          <li>Hỗ trợ tư vấn miễn phí về sử dụng máy giặt.</li>
                      </ul>
                  </div>
              
                  <h2>Quy trình bảo hành và sửa chữa</h2>
                  <p>
                      Chúng tôi cam kết cung cấp dịch vụ nhanh chóng và hiệu quả. Quy trình làm việc của chúng tôi bao gồm:
                  </p>
                  <ol>
                      <li>Tiếp nhận thông tin yêu cầu từ khách hàng qua điện thoại hoặc trực tiếp.</li>
                      <li>Phân công nhân viên kỹ thuật đến tận nơi để kiểm tra tình trạng máy giặt.</li>
                      <li>Đưa ra chẩn đoán và thông báo cho khách hàng về nguyên nhân hư hỏng.</li>
                      <li>Thống nhất phương án sửa chữa, thay thế linh kiện (nếu cần) với khách hàng.</li>
                      <li>Tiến hành sửa chữa và kiểm tra lại máy trước khi bàn giao cho khách hàng.</li>
                      <li>Cung cấp giấy bảo hành cho các linh kiện đã thay thế.</li>
                  </ol>
              
                  <h2>Chính sách bảo hành</h2>
                  <p>
                      Chúng tôi cung cấp chính sách bảo hành lên đến 24 tháng cho các linh kiện thay thế. Thời gian bảo hành có thể thay đổi tùy theo từng loại linh kiện. Để đảm bảo quyền lợi, khách hàng vui lòng giữ lại phiếu bảo hành khi sử dụng dịch vụ.
                  </p>
              
                  <h2>Những trường hợp không được bảo hành</h2>
                  <p>
                      Dưới đây là một số trường hợp không được bảo hành:
                  </p>
                  <ul>
                      <li>Sản phẩm hư hỏng do vận chuyển, lắp đặt sai quy cách hoặc sử dụng không đúng hướng dẫn.</li>
                      <li>Sản phẩm bị hư hỏng do tác động của thiên tai, hỏa hoạn, hoặc các nguyên nhân từ môi trường.</li>
                      <li>Các hư hỏng do côn trùng xâm nhập hoặc các yếu tố bên ngoài.</li>
                      <li>Sản phẩm hư hỏng do nguồn điện không ổn định.</li>
                  </ul>
              
                  <h2>Tại sao chọn chúng tôi?</h2>
                  <p>
                      Với nhiều năm kinh nghiệm trong ngành sửa chữa máy giặt, chúng tôi tự tin mang đến cho bạn dịch vụ tốt nhất với:
                  </p>
                  <ul>
                      <li>Đội ngũ kỹ thuật viên tay nghề cao, luôn sẵn sàng phục vụ.</li>
                      <li>Sử dụng linh kiện chính hãng, bảo đảm chất lượng và độ bền.</li>
                      <li>Giá cả cạnh tranh và minh bạch, không phát sinh thêm chi phí.</li>
                      <li>Chính sách bảo hành dài hạn, đảm bảo quyền lợi của khách hàng.</li>
                  </ul>
                  <img src="../../assets/img/picture/2024/samsung/sua-may-giat-hitachi-3-2434.jpeg" alt="">
                </div>
              </div>
            </div>

            <div class="col c-12 m-12 l-3">
              <div class="container__side-bar">
                <div class="container__side-categories">
                  <span class="side__categories">
                    Danh mục <br>
                  </span>
  
  
                  <div class="space__categories"></div>
  
  
                  <div class=" side-item hot-item-lable">
                    Hot <br>
                  </div>
                  <ul class="side__categories-list">
                    <li class="categories-item hot-item"><a href="../../templates/thu-cu-doi-moi/thu-cu-doi-moi.html">Thu cũ đổi mới máy giặt
                        </a></li>
                    <li class="categories-item hot-item"><a href="../../templates/sua-chua/sua-may-giat-electrolux.html">Sửa chữa máy giặt Electrolux
                    </a></li>
                    <li class="categories-item hot-item"><a href="../../templates/bao-hanh/bao-hanh-may-giat.html">Bảo hành, vệ sinh máy giặt
                    </a></li>
                  </ul>
  
                  <div class=" side-item">
                    Sửa chữa <br>
                  </div>
                  <ul class="side__categories-list">
                    <li class="categories-item"><a href="../../templates/sua-chua/sua-may-giat-samsung.html">Sửa máy giặt
                        Samsung</a></li>
                    <li class="categories-item"><a href="../../templates/sua-chua/sua-may-giat-lg.html">Sửa máy giặt
                        LG</a></li>
                    <li class="categories-item"><a href="../../templates/sua-chua/sua-may-giat-electrolux.html">Sửa máy
                        giặt Electrolux</a></li>
                    <li class="categories-item"><a href="../../templates/sua-chua/sua-may-giat.html">Sửa máy
                          giặt bị lỗi mạch </a></li>
                    <li class="categories-item"><a href="../../templates/sua-chua/sua-may-giat.html">Khác ... </a></li>
                  </ul>
  
                  <div class="side-item">
                    Bảo hành <br>
                  </div>
                  <ul class="side__categories-list">
                    <li class="categories-item"><a href="../../templates/bao-hanh/bao-hanh-may-giat-samsung.html">Bảo hành máy giặt
                        Samsung</a></li>
                    <li class="categories-item"><a href="../../templates/bao-hanh/bao-hanh-may-giat-lg.html">Bảo hành máy giặt
                        LG</a></li>
                    <li class="categories-item"><a href="../../templates/bao-hanh/bao-hanh-may-giat-electronlux.html">Bảo hành máy giặt Electrolux</a></li>
                    <li class="categories-item"><a href="../../templates/bao-hanh/bao-hanh-may-giat.html">Khác ... </a></li>
                  </ul>
  
                  <div class=" side-item">
                    Thu mua <br>   
                  </div>
                  <ul class="side__categories-list">
                    <li class="categories-item"><a href="../../templates/thu-mua/thu-mua-may-giat-samsung.html">Thu mua giặt
                        Samsung</a></li>
                    <li class="categories-item"><a href="../../templates/thu-mua/thu-mua-may-giat-lg.html">Thu mua giặt
                        LG</a></li>
                    <li class="categories-item"><a href="../../templates/thu-mua/thu-mua-may-giat-elec.html">Thu mua
                        giặt Electrolux</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container sixth-container">
        <div class="grid wide">
          <div class="container__preview-third" style="text-align: center">
            <b></b>
            <span class="container__preview-header">Bài viết</span>
            <b></b>
          </div>
        </div>
  
        <div class="grid wide">
          <div class="row" style="margin: 4rem 0">
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/sua-chua/sua-may-giat-samsung.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/sua-may-giat-samsung.jfif" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Trung sửa chữa máy giặt Samsung uy tín chất lượng.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/sua-chua/sua-may-giat-samsung.html" class="infomation__button">Xem thêm</a>
                  </button>
                </div>
              </a>
            </div>
  
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/sua-chua/sua-may-giat.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/istockphoto-1309384812-612x612.jpg" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Sửa chữa tất cả các dòng máy giặt từ tầm trung đến cao cấp.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/sua-chua/sua-may-giat.html" class="infomation__button">Xem thêm</a>
                  </button>
                </div>
              </a>
            </div>
  
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/bao-hanh/bao-hanh-may-giat-electronlux.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/istockphoto-1325196791-612x612.jpg" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Bảo hành điều hòa Electrolux miễn phí, làm việc tại nhà.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/bao-hanh/bao-hanh-may-giat-electronlux.html" class="infomation__button">Xem
                      thêm</a>
                  </button>
                </div>
              </a>
            </div>
  
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/thu-mua/thu-mua.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/mua-may-giat-cu.jpg" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Thu mua các dòng máy máy giặt đã qua sử dụng giá cao.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/thu-mua/thu-mua.html" class="infomation__button">Xem thêm</a>
                  </button>
                </div>
              </a>
            </div>
  
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/thu-cu-doi-moi/thu-cu-doi-moi.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/thu-mua-may-giat-cu.png" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Chương trình thu máy cũ đổi máy mới trên khắp địa bàn Hà Nội.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/thu-cu-doi-moi/thu-cu-doi-moi.html" class="infomation__button">Xem thêm</a>
                  </button>
                </div>
              </a>
            </div>
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/thu-mua/thu-mua-may-giat-elec.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/danh-sach-trung-tam-bao-hanh-electrolux-300x178.jpg" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Thu mua máy giặt Electrolux giá cao nhất thị trường.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/thu-mua/thu-mua-may-giat-elec.html" class="infomation__button">Xem thêm</a>
                  </button>
                </div>
              </a>
            </div>
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/sua-chua/sua-may-giat-electrolux.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/sua-loi-mach.jfif" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Sửa chữa máy giặt Electrolux bị lỗi mạch.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/sua-chua/sua-may-giat-electrolux.html" class="infomation__button">Xem
                      thêm</a>
                  </button>
                </div>
              </a>
            </div>
            <div class="col c-12 m-6 l-3">
              <a href="../../templates/bao-hanh/bao-hanh-may-giat.html">
                <div class="container__information-component">
                  <div class="information__component-img">
                    <img src="../../assets/img/picture/2024/trung-tam-bo-hanh-may-git-electrolux.webp" alt="" />
                  </div>
  
                  <div class="information__caption">
                    Bảo Hành máy giặt tận nơi, miễn phí trên khắp Hà Nội.
                  </div>
  
                  <button class="infomation__btn">
                    <a href="../../templates/bao-hanh/bao-hanh-may-giat.html" class="infomation__button">Xem thêm</a>
                  </button>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer" style="padding: 70px 0">
      <div class="grid wide">
        <div class="row">
          <div class="col c-12 m-6 l-3">
            <div class="footer__item">
              <div class="footer__item-lable">Bài viết mới</div>
              <div class="footer__item-container">
                <ul class="item__list">
                  <li class="footer__container-item">
                    <div class="footer__item-img">
                      <img
                        src="../../assets/img/picture/2024/bao-hanh-daikin.jpg"
                        alt=""
                        class="item-img"
                      />
                    </div>
                    <div class="footer__item-paragraph">
                      <a href="templates/bao-hanh/bao-hanh-may-giat.html">
                        Trung tâm bảo hành máy giặt số 1 Hà Nội</a
                      >
                    </div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-img">
                      <img
                        src="../../assets/img/picture/2024/bao-hanh-daikin.jpg"
                        alt=""
                        class="item-img"
                      />
                    </div>
                    <div class="footer__item-paragraph">
                      <a href="templates/sua-chua/sua-may-giat.html">
                        Trung tâm sửa chữa máy giặt các loại</a
                      >
                    </div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-img">
                      <img
                        src="../../assets/img/picture/2024/bao-hanh-daikin.jpg"
                        alt=""
                        class="item-img"
                      />
                    </div>
                    <div class="footer__item-paragraph">
                      <a href="templates/thu-cu-doi-moi/thu-cu-doi-moi.html">
                        Chương trình thu cũ đổi mới ưu đãi</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col c-12 m-6 l-3">
            <div class="footer__item">
              <div class="footer__item-lable">Chi nhánh</div>
              <div class="footer__item-container">
                <ul class="item__list">
                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">447 Nguyễn Trãi</div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">
                      23 Nguyễn Khánh Toàn
                    </div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">33 Thái Hà</div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">CT4 Xala Hà Đông</div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">110 Trần Duy Hưng</div>
                  </li>

                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">364 Giải Phóng</div>
                  </li>

                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">34 Âu Cơ</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col c-12 m-6 l-3">
            <div class="footer__item">
              <div class="footer__item-lable">Chi nhánh</div>
              <div class="footer__item-container">
                <ul class="item__list">
                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">
                      Số 4 Bạch Thái Bưởi
                    </div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">16 Lý Nam Đế</div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">171 Minh Khai</div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">CT3 Linh Đàm</div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">173 Xuân Thủy</div>
                  </li>

                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">CT3 Văn Quán</div>
                  </li>

                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">CT3 Mỹ Đình</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col c-12 m-6 l-3">
            <div class="footer__item">
              <div class="footer__item-lable">Liên Hệ</div>
              <div class="footer__item-container">
                <ul class="item__list">
                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">
                      <a href="tel:0866229532">HotLine: 0866229532</a>
                    </div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">
                      <a href="tel:0866229532">Zalo: 0866229532</a>
                    </div>
                  </li>
                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">
                      <a
                        href="https://www.facebook.com/thanhs.trongs.1?locale=vi_VN"
                        >Facebook: Trọng Thành</a
                      >
                    </div>
                  </li>

                  <div class="footer__space"></div>

                  <li class="footer__container-item">
                    <div class="footer__item-paragraph">
                      Địa chỉ: Số 4 Bạch Thái Bưởi, Văn Quán, Hà Đông, Hà Nội
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copy__right">
      <div class="grid wide">
        <div class="copy__right-container">
          <span class="copy__right-parapraph">
            Copyright 2024 © Chuyên sửa máy giặt, tủ lạnh, điều hòa, đồ gia
            dụng, thu mua máy giặt, tủ lạnh, ...
          </span>

          <span class="copy__right-design">
            <a href="https://www.facebook.com/thanhs.trongs.1?locale=vi_VN"
              >Design by: Trọng Thành</a
            >
          </span>
        </div>
      </div>
    </div>

    <div class="contact">
      <a href="tel: 0866229532">
        <div class="phone" id="zaloButton">
          <i class="fa-solid fa-phone"></i>
        </div>
      </a>
  
      <a href="https://zalo.me/0866229532" target="_blank">
        <div class="phone zalo" id="phoneButton">
          <svg
            width="50"
            height="50"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22.782 0.166016H27.199C33.2653 0.166016 36.8103 1.05701 39.9572 2.74421C43.1041 4.4314 45.5875 6.89585 47.2557 10.0428C48.9429 13.1897 49.8339 16.7347 49.8339 22.801V27.1991C49.8339 33.2654 48.9429 36.8104 47.2557 39.9573C45.5685 43.1042 43.1041 45.5877 39.9572 47.2559C36.8103 48.9431 33.2653 49.8341 27.199 49.8341H22.8009C16.7346 49.8341 13.1896 48.9431 10.0427 47.2559C6.89583 45.5687 4.41243 43.1042 2.7442 39.9573C1.057 36.8104 0.166016 33.2654 0.166016 27.1991V22.801C0.166016 16.7347 1.057 13.1897 2.7442 10.0428C4.43139 6.89585 6.89583 4.41245 10.0427 2.74421C13.1707 1.05701 16.7346 0.166016 22.782 0.166016Z"
              fill="#0068FF"
            />
            <path
              opacity="0.12"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M49.8336 26.4736V27.1994C49.8336 33.2657 48.9427 36.8107 47.2555 39.9576C45.5683 43.1045 43.1038 45.5879 39.9569 47.2562C36.81 48.9434 33.265 49.8344 27.1987 49.8344H22.8007C17.8369 49.8344 14.5612 49.2378 11.8104 48.0966L7.27539 43.4267L49.8336 26.4736Z"
              fill="#001A33"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.779 43.5892C10.1019 43.846 13.0061 43.1836 15.0682 42.1825C24.0225 47.1318 38.0197 46.8954 46.4923 41.4732C46.8209 40.9803 47.1279 40.4677 47.4128 39.9363C49.1062 36.7779 50.0004 33.22 50.0004 27.1316V22.7175C50.0004 16.629 49.1062 13.0711 47.4128 9.91273C45.7385 6.75436 43.2461 4.28093 40.0877 2.58758C36.9293 0.894239 33.3714 0 27.283 0H22.8499C17.6644 0 14.2982 0.652754 11.4699 1.89893C11.3153 2.03737 11.1636 2.17818 11.0151 2.32135C2.71734 10.3203 2.08658 27.6593 9.12279 37.0782C9.13064 37.0921 9.13933 37.1061 9.14889 37.1203C10.2334 38.7185 9.18694 41.5154 7.55068 43.1516C7.28431 43.399 7.37944 43.5512 7.779 43.5892Z"
              fill="white"
            />
            <path
              d="M20.5632 17H10.8382V19.0853H17.5869L10.9329 27.3317C10.7244 27.635 10.5728 27.9194 10.5728 28.5639V29.0947H19.748C20.203 29.0947 20.5822 28.7156 20.5822 28.2606V27.1421H13.4922L19.748 19.2938C19.8428 19.1801 20.0134 18.9716 20.0893 18.8768L20.1272 18.8199C20.4874 18.2891 20.5632 17.8341 20.5632 17.2844V17Z"
              fill="#0068FF"
            />
            <path
              d="M32.9416 29.0947H34.3255V17H32.2402V28.3933C32.2402 28.7725 32.5435 29.0947 32.9416 29.0947Z"
              fill="#0068FF"
            />
            <path
              d="M25.814 19.6924C23.1979 19.6924 21.0747 21.8156 21.0747 24.4317C21.0747 27.0478 23.1979 29.171 25.814 29.171C28.4301 29.171 30.5533 27.0478 30.5533 24.4317C30.5723 21.8156 28.4491 19.6924 25.814 19.6924ZM25.814 27.2184C24.2785 27.2184 23.0273 25.9672 23.0273 24.4317C23.0273 22.8962 24.2785 21.645 25.814 21.645C27.3495 21.645 28.6007 22.8962 28.6007 24.4317C28.6007 25.9672 27.3685 27.2184 25.814 27.2184Z"
              fill="#0068FF"
            />
            <path
              d="M40.4867 19.6162C37.8516 19.6162 35.7095 21.7584 35.7095 24.3934C35.7095 27.0285 37.8516 29.1707 40.4867 29.1707C43.1217 29.1707 45.2639 27.0285 45.2639 24.3934C45.2639 21.7584 43.1217 19.6162 40.4867 19.6162ZM40.4867 27.2181C38.9322 27.2181 37.681 25.9669 37.681 24.4124C37.681 22.8579 38.9322 21.6067 40.4867 21.6067C42.0412 21.6067 43.2924 22.8579 43.2924 24.4124C43.2924 25.9669 42.0412 27.2181 40.4867 27.2181Z"
              fill="#0068FF"
            />
            <path
              d="M29.4562 29.0944H30.5747V19.957H28.6221V28.2793C28.6221 28.7153 29.0012 29.0944 29.4562 29.0944Z"
              fill="#0068FF"
            />
          </svg>
        </div>
      </a>
    </div>
  </body>
</html>
