body {
    margin: 0;
    padding: 0;
}


.body {
    margin-top: 20px;
}

.container__side-bar{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-template {
    height: 100%;
    margin-bottom: 50px;
} 

.container__main-path {
    margin-bottom: 20px;
    color: var(--theme-collor);
}

.container__main-path .main {
    color: var(--theme-collor);
}

.path-icon {
    margin: 0 10px;
}

.container__main-paragraph {
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container__main-paragraph img {
    width: 100%;
    height: auto;
    color: var(--text-color);
}

.container__main-paragraph h1 {
    margin-bottom: 30px;
    font-size: 1.7rem;
}

.container__main-paragraph ul {
    list-style: circle;
    padding-left: 40px;
}

.container__main-paragraph li {
    margin: 20px 0;
}
.container__main-paragraph h1  {
    margin-top: 10px;
    color: var(--theme-collor);
    text-transform: uppercase;
}

.container__main-paragraph h2  {
    color: var(--theme-collor);
    font-size: 1.5rem;
}

.container__main-paragraph h3  {
    color: var(--theme-collor);
    font-size: 1.5rem;
}

.container__main-paragraph p {
    margin-bottom: 20px;
}

.side__categories {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--theme-collor);
    margin-bottom: 50px;
}

.side__categories-list {
    margin-top: 20px;
}

.categories-item {
    padding: 10px 0;
}

.categories-item a:hover {
    color: var(--theme-collor);
}

.container__side-bar {
    padding: 20px;
}

.container__template-about {
    font-size: 1.5rem;
}

.container__main {
    margin-bottom: 50px;
}

.space__categories {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: rgb(198, 198, 198);
}

.side-item {
    margin-top: 20px;
    font-size: 1.2rem !important;
    font-weight: 700;
    color: var(--theme-collor);
} 

.hot-item-lable {
    color: rgb(248, 93, 93);
    text-transform: uppercase;
}

.hot-item :hover {
    color: rgb(248, 93, 93) !important;
}